<div ng-controller="complaintInfoCtrl">	
	<div id="complaintInfo" ng-show="selectedComplaint != null">
	<div ng-click="closeMarkerInfo()">
		<img class="closeComplaint" src="img/close.gif" alt="" />	
		<p class="poi_title">{{selectedComplaint.info.title}}</p>
	</div>
		
		<p class="poi_description">{{selectedComplaint.info.description}} <br><br> {{selectedComplaint.info.updated_datetime | date:'dd/MM/yyyy - HH:mm'}} </p>  
		<img class="complaintImg" src="{{selectedComplaint.info.media_url}}" height="542" alt="" />   	
	</div>
</div>