<div ng-controller="MainCtrl">

	<div id="my_location_btn" ng-click="geolocateMe()"
		class="my_location_btn_normal"></div>

	<div id="poi_aim" ng-show="isLocationPickerMode"></div>

	<!-- Swipeable menu -->
	<div ng-include src="'partials/menu.html'" iescities-menu></div>

	
	<!-- New Complaint -->
	<div ng-include src="'partials/newComplaint.html'" new-complaint-panel></div>

	<!-- My Complaints -->
	<div ng-include src="'partials/userComplaints.html'"
		user-complaints-panel></div>

	<!-- Last Complaints -->
	<div ng-include src="'partials/publicComplaints.html'"
		public-complaints-panel></div>

	<!-- My profile -->
	<div ng-include src="'partials/profile.html'" profile-panel></div>

	<!-- New user -->
	<div ng-include src="'partials/newUser.html'" new-user-panel></div>

	<!-- Login -->
	<div ng-include src="'partials/login.html'" login-panel></div>

	<!-- Login -->
	<div ng-include src="'partials/locationPicker.html'"
		location-picker-panel></div>

	<!-- Privacy -->
	<div ng-include src="'partials/privacy.html'" privacy-info-panel></div>
	
		<!-- Complaint info -->
	<div ng-include src="'partials/complaintInfo.html'" complaint-info-panel></div>


	<!-- MAP directive -->
	<div zaragoza-map></div>
</div>