<!-- NEW USER -->
<div ng-controller="profileCtrl">
	<div id="new_user">
		<div class="panel">
			<div class="panel_header">
				<h3 class="profile_icon">Nuevo Usuario</h3>
				<div class="popup_closer" ng-click="closePanelWithId('new_user')"></div>
			</div>

			<div class="panel_body">
					<form name="newUserForm" method="post">
						<div class="panel_option">

							<div class="form_line">
								<div class="form_box_left">
									<label>Nombre:</label>
								</div>
								<div class="form_box_right">
									<input type="text" placeholder="Obligatorio" ng-model="profileData.first_name"  />
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>Apellidos:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="profileData.last_name" />
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>N&uacutemero de tel&eacutefono:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="profileData.phone" />
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>Correo electr&oacutenico:</label>
								</div>
								<div class="form_box_right">
									<input type="text" placeholder="Obligatorio" ng-model="profileData.email" required/>
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>Password:</label>
								</div>
								<div class="form_box_right">
									<input type="password" placeholder="Obligatorio" ng-model="profileData.password" required/>
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>Repite password:</label>
								</div>
								<div class="form_box_right">
									<input type="password" placeholder="Obligatorio" ng-model="profileData.passwordConfirm" />
								</div>
							</div> 
							<div class="form_line">
								<div class="form_box_left">
									<label>Direcci&oacuten:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="profileData.user_address" />
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>Ciudad:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="profileData.city" />
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>Pa&iacutes:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="profileData.country" />
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>C&oacutedigo Postal:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="profileData.zipcode" />
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>DNI:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="profileData.nif" />
								</div>
							</div>


						</div>


						<div class="save_profile">
							<div class="update_button" ng-click="saveProfile()">Entrar</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
		