<div ng-controller="locationPickerCtrl">
	<div id="poi_set" ng-show="isLocationPickerMode">
		<p class="poi_set_instruction">
			Establezca el puntero en el lugar deseado de la pantalla y pulse Establecer
		</p>

		<div class="new_poi_buttons cent">
			<a class="poi_accept" href="#"  ng-click="addLocationToComplaint()">Establecer</a>
			<a class="poi_discard" href="#" ng-click="cancelLocation()">Cancelar</a>
		</div>
	</div>
</div>