<!-- MAIN MENU -->
<div id="black_fader" ng-click="fade_back()" ng-swipe-left="fade_back()"></div>
<div id="main_menu" ng-controller="menuCtrl">

	<div class="menu_options" ng-swipe-left="fade_back()">
		<div class="menu_option" ng-click="openNewComplaintPanel()">
			<img src="img/nueva_queja.png" />
			<h2>Nueva Queja</h2>
		</div>
		<div class="menu_option" ng-click="showPublicComplaintsPanel()">
			<img src="img/ver_quejas.png" />
			<h2>Quejas Recientes</h2>
		</div>
		<div ng-hide="account_id == undefined" class="menu_option" ng-click="showUserComplaintsPanel()">
			<img src="img/mis_quejas.png" />
			<h2>Mis Quejas</h2>
		</div>

		<div ng-show="account_id == undefined" class="menu_option" ng-click="showNewUserPanel()">
			<img src="img/new_user.png" />
			<h2>Nuevo Usuario</h2>
		</div>
		<div ng-show="account_id != undefined" class="menu_option" ng-click="showUserProfilePanel()">
			<img src="img/profile_icon.png" />
			<h2>Perfil</h2>
		</div>
		<div ng-show="account_id == undefined" class="menu_option" ng-click="showLoginPanel()">
			<img src="img/login_icon.png" />
			<h2>Acceso usuarios</h2>
		</div>

	</div>

	<div class="pestana" ng-click="toggle_main_menu()" ng-swipe-left="toggle_main_menu()" ng-swipe-right="toggle_main_menu()">
		<div id="boton_despliega">
			<img src="img/v_slide_spots.png" />
		</div>
	</div>

</div>