<!-- NEW COMPLAINT -->
<!-- <script type="text/javascript" src="scripts/iescities/upload.js"></script>
<link rel="stylesheet" type="text/css" href="styles/upload.css" /> -->
<!-- <link type="text/css" rel="stylesheet" href="styles/common.css"> -->
<script src="scripts/vendor/angular-file-upload-shim.js"></script>
<script src="scripts/vendor/angular-file-upload.js"></script>

<div ng-controller="newComplaintCtrl">
	<div id="new_complaint">
		<div class="panel">
			<div class="panel_header">
				<h3 class="new_complaint_icon title">Nueva queja</h3>
				<div class="popup_closer"
					ng-click="closePanelWithId('new_complaint')"></div>
			</div>

			<div class="panel_body">
				<form name="complaintForm" enctype="multipart/form-data"
					method="post">
					<div class="panel_option">

						<div class="form_line">
							<div class="form_box_left">
								<label>Título de la queja:</label>
							</div>
							<div class="form_box_right">
								<input type="text" ng-model="newComplaintData.title"
									name="complaintTitle" placeholder="Obligatorio" required />
							</div>
						</div>

						<div class="form_line">
							<div class="form_box_left">
								<label>Descripción del problema:</label>
							</div>
							<div class="form_box_right">
								<textarea ng-model="newComplaintData.descripcion"
									name="complaintText" placeholder="Obligatorio" required></textarea>
							</div>
						</div>
						<div ng-hide="(account_id != undefined)">
							<h2>Datos del ciudadano</h2>

							<div class="form_line">
								<div class="form_box_left">
									<label>Nombre:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="newComplaintData.first_name"
										name="name" />
								</div>
							</div>

							<div class="form_line">
								<div class="form_box_left">
									<label>Apellidos:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="newComplaintData.last_name" />
								</div>
							</div>

							<div class="form_line">
								<div class="form_box_left">
									<label>N&uacutemero de tel&eacutefono:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="newComplaintData.phone" />
								</div>
							</div>
							<div class="form_line">
								<div class="form_box_left">
									<label>Correo electr&oacutenico:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="newComplaintData.email"
										name="email" />
								</div>
							</div>

							<div class="form_line">
								<div class="form_box_left">
									<label>Direcci&oacuten:</label>
								</div>
								<div class="form_box_right">
									<input type="text" ng-model="newComplaintData.user_address"
										name="address" />
								</div>
							</div>
						</div>

						<div class="form_line">
							<div class="form_box_left">
								<label>Adjuntar:</label>
							</div>
							<div class="form_box_right">
								<div class="buttons_container">
									<img class=left_button ng-src="img/camara.png"
										ng-click="addPictureToComplaint()"> <img
										ng-src="img/galeria.png"
										ng-click="addMediaFromGalleryToComplaint()"> <img
										class="right_button" ng-src="img/ubicacion.png"
										ng-click="addLocationToComplaint()">
								</div>
							</div>
						</div>




						<div class="form_line" ng-show="complaintLocation != null">
							<div class="coords_uploaded">
								<a>Ubicación adjuntada</a>
							</div>
						</div>
						<div class="form_line">
							<div class="photo_uploaded" ng-show="newComplaintPhoto">
								<img ng-src="{{newComplaintPhoto}}" />
							</div>
						</div>
						<div class="form_line">

							<div class="form_box_right">
								<div ng-show="selectedFiles != null">
									<div ng-repeat="f in selectedFiles">
										<!-- <div ng-repeat="f in selectedFiles"> -->
										<img class="preview" ng-show="dataUrls[$index]"
											ng-src="{{dataUrls[$index]}}">

										<div class="sel-file">{{f.name}} - size: {{f.size}}B -
											type: {{f.type}}</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form_public">
							<div>
								<label class="remind_label">Hacer la queja
									p&uacuteblica?</label>
								<toggle-switch style="align-rigth" model="publicComplaint"
									on-label="Sí" off-label="No"> <toggle-switch>
							</div>
						</div>

					</div>

					<div class="save_complaint">
						<div class="update_button" ng-click="saveComplaint(complaint)">Enviar
							Queja</div>
					</div>
				</form>

			</div>

		</div>

	</div>
</div>

