<!-- LAST COMPLAINT LIST -->
<meta charset="utf-8" />
<div ng-controller="complaintsListCtrl">
	<div id="publicComplaints">
		<div class="panel">
			<div class="panel_header">
				<h3 class="last_complaints_icon title">Quejas recientes</h3>
				<div class="popup_closer" ng-click="closePanelWithId('publicComplaints')"></div>
			</div>

			<div class="panel_body">
				<form name="complaintForm" novalidate>
					<div class="panel_option">
						<h4 class="personal">Listado de últimas quejas</h4>
						<div class="comment"
						ng-repeat="complaint in complaints | orderBy: '-requested_datetime'" ng-click="showComplaintDetail(complaint)">
							<div  class="{{complaint.status}}">
								<p class="complait_title">
									{{complaint.title}}
								</p>
							</div>
							<p>
								<div class="date">
									<span>Fecha queja :</span> {{complaint.requested_datetime | date:'dd/MM/yyyy - HH:mm'}}
								</div>
								<div class="date">
									<span>Actualizado a :</span> {{complaint.updated_datetime | date:'dd/MM/yyyy - HH:mm'}}
								</div>
							</p>
							<div ng-show="isComplaintOpen(complaint)">
								<p>
									{{complaint.description}}
								</p>

								<img ng-if="isComplaintOpen(complaint)" class="complaintImg" src="{{complaint.media_url}}" height="542" alt="" />
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
